<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary mb-3 py-2">
        <div class="container">
            <!-- Logo/Site adı (sol tərəf) -->
            <a class="navbar-brand me-4" href="/products">Ana Səhifə</a>
            
            <!-- Boşluq üçün flex böyümə elementi -->
            <div class="flex-grow-1 d-none d-lg-block"></div>
            
            <!-- Toggler button -->
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarRightContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Sağ tərəf contenti -->
            <div class="collapse navbar-collapse" id="navbarRightContent">
                <ul class="navbar-nav ms-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item px-2">
                            <a href="{% url 'logout' %}" class="nav-link">Çıxış</a>
                        </li>
                        <li class="nav-item ps-2">
                            <a href="#" class="nav-link">Xos geldin <p class="text-black text-bold">
                                                                        <strong>{{user.username}}</strong>
                                                                    </p>
                           </a>
                        </li>
                    {% else %}
                        <li class="nav-item px-2">
                            <a href="{% url 'login' %}" class="nav-link">Daxil ol</a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="{% url 'register' %}" class="nav-link">Qeydiyyat</a>
                        </li>
                    {% endif %}
                 
                </ul>
            </div>
        </div>
    </nav>
</header>